<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72223728364-p735p7qu2vimlcu0s0mrqt5smcs6oek1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72223728364-p735p7qu2vimlcu0s0mrqt5smcs6oek1</string>
	<key>API_KEY</key>
	<string>AIzaSyBcBDAxWtbgRgRlB0of8hGlD_aPqgZ4JKg</string>
	<key>GCM_SENDER_ID</key>
	<string>72223728364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ayaanshahab.Gamescg</string>
	<key>PROJECT_ID</key>
	<string>hcg-games-hcg</string>
	<key>STORAGE_BUCKET</key>
	<string>hcg-games-hcg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72223728364:ios:97b024e73d625269b67bc9</string>
</dict>
</plist>
